<div id="foo">
  <div *ngFor="let cell of cells" class="cell" [ngClass]="(cell.color==1)?'cell-white':'cell-black'"></div>
</div>

<style>
  #foo {
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0px 0px;
    background-color: rgb(240, 217, 181);;
  }

  .cell-white {
    background-color: transparent;
  }

  .cell-black {
    background-color: rgb(181, 136, 99);
  }
</style>