<!-- <div [@moveAnimation]="{params:{translateBefore:'translate(0,0), translateAfter:'translate(0,0)'}}" class="piece"
    style="background-image:url({{assetName}});transform:{{translate}}">
</div> -->

<!-- <div 
  [@moveAnimation]="{params:{translateBefore:'translate(0,0)', translateAfter:'translate(0,0)'}}" 
  class="piece"
  style="background-image:url({{assetName}});transform:{{translate}}">
</div> -->

<div 
  class="piece"
  [class.selected]="isSelected"
  style="background-image:url({{assetName}});transform:{{translate}}">
</div>

<style>
  .piece {
    width: 12.5%;
    height: 12.5%;
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    /* transition: transform 500ms ease-in; */
  }

  .piece.selected {
    background-color: rgba(20,85,30,0.5);
  }
</style>